@font-face {
    font-family: 'starwars';
    src: url('../assets/starwars.ttf');
  }

#contentrow {
    margin-top: 60px;
}

#demographics li {
    font-size: 20px;
    list-style: none;
    color: yellow;
}

.characterlist {
    ul{
        margin-bottom: 40px;
    }
}

.card {
    #submitbtn {
        font-size: 30px;
    }
}

#app {
    font-family: starwars;
    background-image: url('https://cdn.wallpapersafari.com/81/95/Z7D2q6.jpg');
}

.calltoaction {
    position: fixed;
    bottom: 10%;
    right: 10%;
    #cta {
        color: yellow;
    }
}
